.main {
    margin-top: 100px;
    height: 100%;
    /* margin-bottom: 200px; */
    padding-bottom: 150px;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    margin-bottom: 50px;
    color: firebrick;

}

.headshot {
    max-width: 150px;
    margin-right: 20px;
    margin-bottom: 5px;

}

.contactBtn {
    margin-left: 5px;
    margin-right: 5px;
}

.media-body p {
    padding-top: 5px;
    font-size: 20px;

}

@media only screen and (max-width: 600px) {
    .media-p1 {
      margin-top: 270px;
    }
}